<!DOCTYPE HTML>
<html>
<head>    
    <link rel="stylesheet" type="text/css" href="../style/default/<%= @sbwuimincss %>"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/<%= @sbwminjs %>"></script>
    <script type="text/javascript" src="../js/<%= @sbwuiminjs %>"></script>
</head>
<body>
<!-- Define the parent element on which the check box widget must be initialized. -->
<div id="checkbox-widget"></div>
<script type='text/javascript'>
    $(function(){
        /* Initialize socialbyway with the config and a callback function to be called after loading socialbyway library*/
        SBW.init('../config/config.json', function () {
        /* Initialize checkbox widget in the callback. */
          $('#checkbox-widget').CheckBoxWidget({services: ['facebook','twitter','picasa','flickr','linkedin']});
        });            
    });
</script>
</body>
</html>
