<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../style/default/<%= @sbwuimincss %>"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/<%= @sbwminjs %>"></script>
    <script type="text/javascript" src="../js/<%= @sbwuiminjs %>"></script>
</head>
<body>
<!-- Define the parent element on which the post share widget must be initialized. -->
<div id="post-share-widget"></div>
<script type='text/javascript'>
    $(function(){
        /* Initialize socialbyway with the config and a callback function to be called after loading socialbyway library*/
        SBW.init('../config/config.json', function () {
            /* Initialize post share widget in the callback. */
                $('#post-share-widget').PostShareWidget();
                    var data = {
                        // title of the post
                        message: 'A sample post to share',
                        // picture/icon to be posted with the message
                        picture: 'http://www.socialbyway.com/style/images/logo.png',
                        // a link to the site
                        link: 'http://www.socialbyway.com',
                        // name of the site/application
                        name: 'Socialbyway',
                        // a caption to the site/application
                        caption: 'A new post Widget',
                        // description of the post
                        description: 'Description about the post share',
                        actions: {
                            // a name to the page to be viewed
                            'name': 'SBW',
                            // a link specific to the post on the site
                            'link': 'http://www.socialbyway.com/widget.html'
                        }
                    };
                    $("#post-share-widget").PostShareWidget('setData', data);
                    // To share it programmatically
            //      $("#post-share-widget").PostShareWidget('postShare');
                });
    });
</script>
</body>
</html>
