<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SocialByWay: <?js= title ?></title>
    
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>
<header class="header">
    <div class="logo"></div>
    <div class="top-nav">
        <ul>
            <li><a href="http://www.socialbyway.com/site/index.html">About</a></li>
            <li><a href="http://www.socialbyway.com/site/widget.html">Widgets</a></li>
            <li><a href="http://www.socialbyway.com/site/document.html">Docs</a></li>
            <li><a href="http://www.socialbyway.com/site/api.html" class="selected">API</a></li>
            <li><a href="http://blog.socialbyway.com">Blogs</a></li>
            <li><a href="https://github.com/Imaginea/SocialByWay">Fork@Github</a></li>
        </ul>
    </div>

</header>
<div class="content">
<div class="inner-content">
<nav>
    <?js= this.nav ?>
</nav>
<div id="main">
<h1 class="page-title"><?js= title ?></h1>
<?js= content ?>
</div>
<br clear="both">
</div>
</div>
<footer>
<!--footer comes here-->
    <div class="footer">
      <ul>
        <li><a target="_blank" href="http://blog.socialbyway.com">Blog</a> | </li>
        <li><a target="_blank" href="http://www.twitter.com/socialbyway">@socialbyway</a> | </li>
        <li><a href="http://www.socialbyway.com/site/faq.html">FAQ</a> | </li>
        <li><a href="http://www.socialbyway.com/site/terms.html">Terms</a> | </li>
        <li><a href="http://www.socialbyway.com/site/privacy.html">Privacy</a> | </li>
        <li><a href="http://www.socialbyway.com/site/license.html">License</a> | </li>
        <li>Mail your feedback and enquiries to <a href="mailto:info@socialbyway.com">info@socialbyway.com</a></li>
      </ul>
      <p>Copyright &copy; 2013, Pramati Technologies Private Limited.</p>
    </div>
</footer>

<script> prettyPrint(); </script>
</body>
</html>
