.sbw-comment-widget-default{
  .actions-strip{
    .facebook{
      height: 30px;
      width: 30px;
     background: url("images/social_icons.png") no-repeat -40px 0px;
    }
    
    .service-box{
      float:left;
    }

  }
}