.sbw-comment-widget-default{
  font-family: "Segoe UI","Segoe WP","Helvetica Neue",sans-serif;
  display: inline-block;
  .comments-container{
    .comment{
      background: #fff;
      padding: 3px;
      margin-bottom: 4px;
      padding-left: 5px;
      box-shadow: 1px 2px 2px rgb(177, 175, 175);
      height: 60px;
      img{
        height: 50px;
        width: 50px;
        float: left;
        margin: 5px;
      }
    }
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 0px;
    background: #eee;
 }
  textarea{
    resize: none;
    margin-right: 0px;
    border: 1px solid rgb(204, 191, 191);
    border-right: none;
    padding-left: 5px;
    margin-top: 2px;
    height: 38px;
  }
  .post-comment{
    padding: 10px 40px;
    color: #ff417e;
    border: 1px solid #ddd;
    background: #f5f5f5;
    float: right;
    margin-left: 0px;
    margin-top: 2px;
  }
}