.sbw-like-widget-default{
  position: relative;
  .like-container{
    background: url("images/widget_icons.png") no-repeat 9px -19px transparent;
    padding: 1px;
    border-radius:2em ;
    border: 1px solid #999;
    box-shadow: 3px 3px 1px #999;
    width: 36px;
    height: 36px;
    display: inline-block;
    &:hover {
      background-position: -21px -19px;
    }
  }
  .liked{
    background-position: -21px -19px;
  }
  .count-container {
    background-color: #999;
    border-radius: 13px;
    color: white;
    text-align: center;
    position: absolute;
    top: -5px;
    padding-top: 2px;
    display: inline-block;
    img{
      border-radius:25px;
    }
    &.comment{
      top: 10px;
      padding: 2px 10px;
    }
  }
}