.sbw-postShare-widget-default {
  min-width: 400px;
  max-width: 500px;
  border: 1px solid #c3c3c3;
  background: #F8F8F8;
  color: #999999;
  padding: 10px;
  font-family: Georgia, Trebuchet MS, Arial, sans-serif;
  .icon-container {
    img{
      width: 100%;
    }
    width: 32%;
    height: 115px;
    display: inline-block;
    img {
      height: 100%;
    }
  }
  .post-description-container {
    margin-left: 1%;
    width: 67%;
    vertical-align: top;
    display: inline-block;
    .message, .description,{
      height: 20px;
      background: #ffffff;
      border: 1px solid #eeeeee;
      resize: none;
      color: #999999;
      width: 97%;
    }
    .description{
      height: 80px;
    }
  }
  .sbw-checkbox-widget-default{
    display: inline-block;
    height: 65px;
    margin-left: 15px;
    .check-container {
      input {
        height: 20px;
        width: 20px;
        margin-left: 9px;
        margin-top: 5px;
        background-size: 20px 20px;
        -webkit-appearance: none;
        &:checked {
          background-size: 20px 20px;
        }
      }
    }
  }
  .share-button {
    float: right;
    margin: 20px 3px 0 0;
    padding: 10px 40px;
    color: #ff417e;
    border: 1px solid #dddddd;
    background: #f5f5f5;
  }
}