.sbw-post-widget-default{
  p{
    margin:0px;
  }
  ul{
    list-style-type:none;
  }
  a{
    text-decoration:none;
  }
  .comment-style{
    color:#ff417e;
    font-style:italic;
    font-weight:bold;
    cursor:pointer;
  }

  .link-preview{
    border: 1px solid #eee;
    box-shadow: 1px 2px 3px #eee;
    a {
      text-decoration: none;
      color: #FF417E;
      &:hover{
        color: #AA2F4B;
      }
    }
    .previewimg{
      float:left;
      margin-right: 20px;
    }
    .link-info{
      float:left;
      width:640px;
      margin-right: 20px;
    }
    .close{
      cursor:pointer;
      float:left;
      &:hover{
        color:black;
      }
    }
  }
  .sbw-post-container{
    background: #F8F8F8;
    padding:10px;
    position: relative;
    .profile-pic{
      position: absolute;
      top: 25px;
      left: -23px;
    }
  }
  .tab-content{
    .hide{
      display:none;
    }
  }
  textarea{
    resize:none;
    -webkit-appearance: none;
  }
  .comment-box,.post-box{
    padding: 5px 0 0 8px;
    border: 1px solid #eeeeee;
  }
  .comment-box{
    margin: 19px 0 20px 34px;
  }
  .post-box{
    margin: 0 0 20px 0;
    width: 95%;
  }

  .checkbox-container{
    margin: 0px 15px 0 15px;
    input{
    height: 30px;
    width: 30px;
    margin-left: 9px;
    background: url("images/checkbox_off.png") no-repeat 0 0;
    -webkit-appearance: none;
      &:checked{
        background: url("images/checkbox_on.png") no-repeat 0 0;
      }
      }
      &:nth-child(1){
        clear:left;
      }
      .service-container{
    position: relative;
    left: 1.5em;
    top: -1.5em;
    height: 2em;
    width:2em;
    &.facebook{
      background: url("images/social_icons.png") no-repeat -40px 0px;
      &:hover,&.selected{
        background-position : 0px 0px;
      }
    }
    &.twitter{
      background: url("images/social_icons.png") no-repeat -40px -40px;
      &:hover,&.selected{
        background-position : 0px -40px;
      }
    }
    &.picasa{
      background: url("images/social_icons.png") no-repeat -40px -120px;
      &:hover,&.selected{
        background-position : 0px -120px;
      }
    }
    &.flickr{
      background: url("images/social_icons.png") no-repeat -40px -80px;
      &:hover,&.selected{
        background-position : 0px -80px;
      }
    }
    &.linkedin{
      background: url("images/social_icons.png") no-repeat -40px -160px;
      &:hover,&.selected{
        background-position : 0px -160px;
      }
    }
  }
  }
  .checkbox{
    margin: 0 15px 10px 15px;
    padding: 0 20px 0 0;
    &.facebook, &.twitter, &.flickr, &.google, &.linkedin, &.pinterest, &.bing{
      background-position:-2px 38px;
      float:left;
    }
  }

  .post-btn{
    float: right;
    margin:20px 20px 0 0;
    padding: 8px 20px;
    color:#ff417e;
    border: 1px solid #dddddd;
    background: #f5f5f5;
  }

 
  .details{
    margin-top: 0.5em;
    .name{
      color:#333;
    }
    .time{
    color:#C3C3C3;
    float:right;
    }
  }
  .message{
    margin-top: 0.5em;
  }

  .likes{
    color:#C3C3C3;
    margin-top: 0.5em;
    font-style: italic;
  }

  .clear{
    clear:both;
  }

  .userimage{
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    height:50px;
    width:50px;
    background: url("images/profile_pic.png") no-repeat;
  }

  .sbw-success-message,.sbw-error-message{
    padding-left: 15px;
    font-size: .9em;
  }

  .chars-count{
    float:right;
    margin: 20px 20px 0 0;
    padding: 8px 20px
  }

  ul{
    overflow: auto;
    margin: 0;
    padding: 0;
    border-bottom: 6px solid #FF417E;
    list-style-type:none;
    li{
      float: left;
      width: auto;
      margin-right: 10px;
      background: #C3C3C3;
      a{
        text-decoration:none;
        color:white;
        display:block;
        padding: 5px 30px;
        &.selected{
        background:#FF417E;
        }
      }
    }
  }
}