.sbw-upload-widget-default{
  min-width:600px;
  max-width:700px ;
  textarea{
    resize:none;
    -webkit-appearance: none;
  }
  .check-container{
    float:left;
    height: 44px;
    width: 44px;
    padding-bottom: 34px;
    margin: 0px 15px 0 15px;
    &:nth-child(1){
      clear:left;
    }
    input{
      height: 30px;
      width: 30px;
      margin-left: 9px;
      background: url("images/checkbox_off.png") no-repeat 0 0;
      -webkit-appearance: none;
      -moz-appearance:none;
      &:checked{
        background: url("images/checkbox_on.png") no-repeat 0 0;
      }
    }
  }
  .service-container{
    position: relative;
    left: 1.5em;
    top: -1.5em;
    height: 2em;
    width:2em;
    &.facebook{
      background: url("images/social_icons.png") no-repeat -40px 0px;
      &:hover,&.selected{
        background-position : 0px 0px;
      }
    }
    &.twitter{
      background: url("images/social_icons.png") no-repeat -40px -40px;
      &:hover,&.selected{
        background-position : 0px -40px;
      }
    }
    &.picasa{
      background: url("images/social_icons.png") no-repeat -40px -120px;
      &:hover,&.selected{
        background-position : 0px -120px;
      }
    }
    &.flickr{
      background: url("images/social_icons.png") no-repeat -40px -80px;
      &:hover,&.selected{
        background-position : 0px -80px;
      }
    }
  }
  .media-container{
      height: 18em;
      padding: 10px;
      background: #F8F8F8;
      border: 1px solid #c3c3c3;
   }
  .user-image{
    width:50px;
    height: 50px;
    background: url("images/profile_pic.png") no-repeat;
    border-radius: 2em;
  }

  .upload-button{
    float: right;
    margin:20px 20px 0 0;
    padding: 8px 20px;
    color:#ff417e;
    border: 1px solid #dddddd;
    background: #f5f5f5;
  }
  .description-container{
    padding: 5px 0 0 8px;
    margin: 0px 0 4px 5px;
    border: 1px solid #DDD;
    width: 573px;
    height: 40px;
  }
  .title-container{
    padding: 5px 0 0 8px;
    margin: 20px 0 4px 5px;
    border: 1px solid #DDD;
    width: 573px;
    height: 16px;
  }
  .tab-container {
    ul{
      overflow: auto;
      margin: 0;
      padding: 0;
      border-bottom: 6px solid #FF417E;
      list-style-type:none;
      li{
        float: left;
        margin-right: 10px;
        background: #C3C3C3;
        &.selected {
          background:#FF417E;
        }
        color:white;
        padding: 5px 30px;
        &:hover{
          background:#FF417E;
        }
        cursor:pointer;
      }
    }
  }
}